body {
    color: antiquewhite; 
}

a{
    text-decoration : none;
    color: white;
    }
#input-result {
    width: 45%;
    margin: -14px 0px 0px 320px;
}

.autocomplete{
    width:100%;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,3);
}
.autocompleteItems{
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
#nav_box {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: black;
}

#nav_logo {
    width: 70px;
    height: 70px;
    margin-left: 6%;
    margin-top: 0.6%;
    cursor: pointer;
}

#nav_logo > img {
    width: 100%;
}

#nav_menu_box {
    margin-left: 1.5%;
    margin-top: 1.2%;
    display: flex;
    flex-direction: row;
}

#nav_menu {
    font-size: 16px;
    font-weight: 550;
    margin-left: 5px;
    margin-top: 1.5px;
}

#nav_select{
    display: flex;
    flex-direction: row;
    margin-left: 1.5%;
    margin-top: 0.9%;
}

#input_search {
    margin-left: -30px;
    margin-top: 5px;
}

#nav_prodiv {
    margin-left: 3%;
    margin-top: 1.1%;
    font-size: 17px;
    margin-right: 2%;
}

#dummy_line {
    height: 28px;
    color: red;
    border: 2px solid grey;
    margin-top: 12px;
    margin-right: 2%;
}

#nav_watchlist_box {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
}

#nav_watchlist {
    margin-left: 11%;
    font-size: 16px;
    font-weight: 550;
}

#nav_login {
    margin-left: 3%;
    margin-top: 1.3%;
    font-size: 15px;
    font-weight: 550;
}

#nav_lang_box {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-top: 1.3%;
}

#nav_lang {
    font-size: 15px;
    font-weight: 550;
    margin-right: 8px;
}

.result-div-main {
    display: flex;
    gap: 2%;

 
   

}



.result-div-main > div img {
     
    width: 45px;
}

.result-div-main:hover {
    background-color: #c5bcbc;
    color: black;
}

