.body {
  /* background-color: black;
  color: white; */
  margin: 1px 4%;
}
#dataContainer {
  /* width: 100%; */

  padding: 1%;
}

.cardContainer {
  width: 100%;
  display: flex;
  gap: 1%;
}
.dataCard {
  /*border: violet solid 1px;*/
  background-color: #1a1a1a;
}
.poster {
  width: 100%;
}
.poster > img {
  /* border: hotpink solid 1px; */
  width: 200px;
}
.posterData {
  padding: 5%;
}
.rating {
  display: flex;
  gap: 50px;
  /* border: olive 1px solid; */
}
.ratingT {
  display: flex;
}
.ratingT > p {
  margin: 2px;
  font-size: 20px;
}
.arow {
  margin-top: 2px;
}
.rating > button {
  border: none;
}

.title {
  /* border: green 1px solid; */
  width: 200px;
  height: 50px;
  overflow: hidden;
}
.title > h4 {
  margin: 5% 0%;
}

.posterBtn {
  border: none;
  margin: 5% 0%;
  padding: 3%;
  width: 100%;
  color: #5478a7;
  background-color: #3c3c3c;
}

.text {
  justify-content: center;
}

#bck {
  border: 1px solid white;
  height: 50px;
  width: 50px;
  position: relative;
  top: -330px;
  right: -25px;
  background-color: darkslategray;
  opacity: 0.4;
}
#fwd {
  border: 1px solid white;
  height: 50px;
  width: 50px;
  position: relative;
  top: -330px;
  right: -1230px;
  background-color: darkslategray;
  opacity: 0.4;
}

.head {
  border-left: 5px solid #ffa000;
  border-radius: 3px;
}

.leftMargin {
  margin-left: 40px;
}

.startBtn:hover {
  background-color: #3c3c3c;
}
.startBtn {
  background-color: #1a1a1a;
}
.start:hover {
  color: #5478a7;
}

.trailerBtn {
  color: white;
  background-color: #1a1a1a;
}

.trailerBtn:hover {
  background-color: #3c3c3c;
}
button {
  border-radius: 5%;
}

.arrowColor {
  color: white;
}
.arrowColor:hover {
  color: #ffa000;
}
